* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root {
  -Blue-500: hsl(220, 98%, 61%);
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 1rem;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.171);
}

h1 {
  width: fit-content;
  text-align: center;
  height: fit-content;
  padding: 1rem;
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

ul {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.171);
}

ul>li:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ul>li:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li {
  border-bottom: 1px rgba(0, 0, 0, 0.301) solid;
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.171);
  padding: 1rem;
  background-color: white;
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

li > button {
  border: 1px solid;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3rem;
  border-radius: 10rem;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li>img {
  justify-self: end;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

form {
  display: flex;
  gap: 1rem;
}

form>input {
  padding: 1rem;
  width: 15rem;
  font-size: 1rem;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  border: 1px solid;
}
form> input:focus {
  box-shadow: rgba(255, 255, 255, 0.199) 0px 0px 10px 10px;
}

form>button {
  width: 4rem;
  font-size: 1rem;
  cursor: pointer;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}